.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid #e1e3e8;
  margin-left: 5%;
  /* border-left: 1px solid #dacdcd;
    padding-left: 6%; */
  /* border-left: 1px solid grey; */
  /* padding-left: 1rem;
    border-left: 1px solid #e1e3e8; */
}

.heading-input {
  font-size: 5rem;
  margin-top: 10%;
}

.subtitle-content {
  font-size: 2rem;
  margin: 4rem 0;
}

.subtitle-paragraph {
  font-size: 1.6rem;
  width: 40%;
  margin-bottom: 10%;
  text-align: center;
}

/* .container-chairimage{display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 30px;
}
.text-imagepic{grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;}
.left-picture{grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;}
  .image-division{ grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;}
.image-subdivision{grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;}
  
  .bottom-picture{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 4;} */























.container-chairimage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #e1e3e8;
  padding-top: 2rem;
  border-left: 1px solid #e1e3e8;
  height: 120vh;

  width: 100%;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.text-imagepic {
  font-size: 2rem;
  transform: rotatez(270deg);
  max-width: 5%;
  color: #000;
  padding: 1rem;
  align-self: flex-end;
  margin-bottom: 4rem;
  width: 100%;
}

.input-colum {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  border-left: 1px solid #e1e3e8;
  /* height: 100%; */
  padding: 10px;
}

.left-picture {
  justify-content: space-between;
  align-items: center;
  /* max-width: 65%; */

}

.subdivisionright {
  display: flex;
  /* max-width: 35%; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}

.image-division {
  justify-content: flex-start;
  align-items: flex-start;
}

.image-subdivision {
  justify-content: flex-start;
  align-items: flex-start;
}

#imagefour {
  width: 100%;
  min-height: 100%;
}

#imagethree {
  width: 100%;
  height: 100%;
}

#imageeight {
  width: 100%;
  height: fit-content;
}

.bottom-picture {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 50vh;
  background-image: url("/assets/Images/picture/pic6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#imagesix {
  max-width: 100%;
}

.ab-picture {
  position: absolute;
  left: 30%;
  top: 60px;
}

#ab-pic {
  width: 50%;
  height: 70%;
}

@media (max-width: 500px) {
  .text-imagepic {
    display: none;
  }
}





@media (max-width: 800px) {



  .content-container {
    flex-direction: column;
  }

  .heading-input {
    font-size: 4rem;
    text-align: center;
  }

  .subtitle-content {
    font-size: 2rem;
    text-align: center;
  }

  .subtitle-paragraph {
    font-size: 1.6rem;
    text-align: center;
    width: 60%;
  }

  .container-chairimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;

  }

  .text-imagepic {
    display: none;
  }

  .input-colum {
    grid-template-rows: repeat(2, 1fr);
    flex-direction: row;
    height: 50vh;
    flex-wrap: wrap;


  }

  .left-picture {
    justify-content: center;
    align-items: center;
    max-width: fit-content;

  }

  #imageeight {
    width: 100%;

  }

  .subdivisionright {

    display: flex;
    flex-direction: row;
    width: 100%;


  }

  .image-division {
    width: 50%;

  }

  .image-subdivision {
    width: 50%;
  }




  .bottom-picture {
    background-position: center;
    width: 100%;
    height: 40vh;
  }


  .ab-picture {
    display: none;
  }
}


.enjoy-input {
  padding: 4rem;
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  color: #000;
  font-weight: 400;
  border: 10px 0;
  height: 4rem;
  border-bottom: 1px solid #dacdcd;
  min-width: 100%;
}

.sofa-content {
  border-left: 1px solid #dacdcd;
  height: 50vh;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 3rem; */
}

.side-view {
  font-size: 2rem;
  transform: rotatez(270deg);
  max-width: 5%;
  color: #000;
  /* height: 35%; */
  padding: 1rem;
  align-self: flex-end;
  margin-bottom: 3rem;
  width: 100%;
  /* border-bottom: 1px solid #000; */
}

.content-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 35%;
  padding: 1rem;
  border-left: 1px solid #dacdcd;
  height: 100%;
}

.header-sofa {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.paragraph-sofa {
  font-size: 1.6rem;
}

.button-sofa {
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 3rem;
  cursor: pointer;
}

.image-sofa {
  width: 100%;
  background-image: url(/assets/Images/sofaup.svg);

  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  /* height: fit-content; */
  margin-left: 2rem ;
  height: 50vh;
  /* margin: 2rem 0 2rem 2rem; */
}

@media (max-width: 320px) {
  .sofa-content {
    display: none;
  }
}

@media (max-width: 500px) {
  .sofa-content {
    display: none;
  }
}

@media (max-width: 800px) {
  .sofa-content {
    display: none;
  }
}


/* #sofa-side {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
  } */
.seemore {
  font-size: 5rem;
  border-top: 1px solid #dacdcd;
  border-bottom: 1px solid #dacdcd;
  padding: 3rem 0;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2rem;
  height: 3rem;
}

@media (max-width: 800px) {
  .seemore {
    display: none;
  }
}