.fourth-container {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    background-color: #384353;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-content: center;
    /* max-height:100%; */
    max-width: 100%;
    padding-left: 1rem;
  }
  
  .before-container {
    /* grid-area: 1 / 1 / 2 / 2; */
    max-width: 6%;
    /* text-align:end; */
    color: #f3f3f3;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    align-self: flex-end;
    transform: rotatez(270deg);
    margin-bottom: 15%;
    /* border-bottom: 1px solid #dacdcd; */
    width: 5%;
    /* height: 100; */
  }
  
  /* .border1 {
    min-height: 50vh;
    color: #dacdcd;
    width: 1px;
  } */
  /* border-bottom: 1px solid #938d8d;
  } */
  /* #marginlook{} */
  /* #lookbook{ text-orientation:mixed;} */
  .middle-container {
    /* grid-area: 1 / 2 / 2 / 3; */
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    border-left: 1px solid #a69a9a;
    /* flex-wrap: wrap; */
    /* transform: translate(-40%); */
  }
  
  .middle-header {
    font-size: 5rem;
  }
  
  .middle-paragraph {
    font-size: 1.6rem;
    padding: 0 2rem;
  }
  
  .after-container {
    /* grid-area: 1 / 3 / 2 / 4; */
    border-left: 0.5px solid #938d8d;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 50%;
    /* max-width: 100%; */
    /* padding-right: 2rem; */
  }
  
  /* #image-look{max-width:fit-content ;} */
  .item-description {
    border-bottom: 1px solid rgb(206, 199, 199);
    border-top: 1px solid rgb(206, 199, 199);
    font-size: 1.7rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  
  .lookbook-image {
    border: 1px solid rgb(206, 199, 199);
    padding: 1.5rem;
    background-color: rgb(214, 207, 207);
    padding-bottom: 20%;
    margin: 1rem;
  }
  
  #image-lookup {
    height: 100%;
    width: 100%;
  }
  
  .price-info2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .name-product2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    padding-left: 1rem;
    cursor: pointer;
  }
  
  .price-product2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }
  
  .lookbook-material {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(206, 199, 199);
    border-top: 1px solid rgb(206, 199, 199);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
  }
  
  .lookbook-produced {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
  }
  
  .material-col {
    width: 100%;
  }
  
  .lookbook-categories {
    border-bottom: 1px solid rgb(206, 199, 199);
    border-top: 1px solid rgb(206, 199, 199);
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .footer-container {
    /* grid-area: 2 / 1 / 3 / 4; */
    border-bottom: 1px solid rgb(206, 199, 199);
    /* margin:  3rem; */
    font-size: 4rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 400;
    border: 0.5px 0;
    border-top: 1px solid rgb(206, 199, 199);
    width: 100%;
    padding: 3rem;
    background-color: #384353;
  }
  
  @media (max-width: 800px) {
    .fourth-container {
  
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        /* align-items: center; */
        max-height: 100%;
        max-width: 100%;
  
    }
  
    .item-description {
        min-width: 100%;
        /* border-right: 1px solid rgb(206, 199, 199); */
  
        font-size: 6px;
    }
  
    .before-container {
        display: none;
  
    }
  
    .middle-container {
        min-width: 100%;
        background-color: #384353;
        text-align: center;
        padding: 5px 20px;
        border: none;
  
    }
  
    .middle-header {
        font-size: 2rem;
  
    }
  
    .middle-paragraph {
        font-size: 1.4rem;
        margin: 0 2rem;
        padding: 5px;
    }
  
    .after-container {
        min-width: 100%;
        border-left: none;
        background-color: #384353;
        flex-direction: column-reverse;
        align-items: center;
    }
    .material-col {
        flex-direction: column-reverse;
        font-size: 10px;
        width: 100%;
    }
  .lookbook-material{
    font-size: 1.6rem;
  }
  .lookbook-categories{
    font-size: 1.6rem;
  }
  .lookbook-produced{font-size: 1.6rem;}
    .item-header {
        display: none;
    }
  
    #image-lookup {
        width: 100%;
        max-height: 100%;
    }
  
    .lookbook-image {
        align-content: center;
        padding-bottom: 20%;
        /* padding: 2rem; */
    }
  
    .price-info2 {
        flex-wrap: wrap;
    }
  
    .footer-container {
        font-size: 3rem;
    }
  }
  @media (max-width: 500px) { .middle-paragraph {
    font-size: 1rem;
    margin: 0 2rem;
    padding: 2rem;
}}
  .fifth-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    background-color: #384353;
    align-content: center;
    justify-content: space-between;
    padding-top: 5px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  /* #equal-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wraps;
  } */
  .name-pro {
    font-weight: 400;
    color: #f3f3f3;
    padding-right: 3rem;
  }
  
  .price-pro {
  
    /* font-weight: 500; */
    color: #f3f3f3;
    padding-left: 3rem;
  }
  
  .price-info{
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: start;
  }
  
  /* .menu-product {
    /* min-width: 90%; */
    /* padding: 3rem; */
  
  .chair-image{display: flex;
    flex-direction: column;
  justify-content: space-around;
  align-items: center;}
  
  .image-look {
    max-width: 85%;
    max-height: 90%;
  }
  #shop{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .decor-shop {
    border-top: 1px solid #dacdcd;
    border-bottom: 1px solid #dacdcd;
    padding: 3rem 0;
    background-color: #384353;
    color: #f3f3f3;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  
  /* .content-shopall {
    max-width: 100%;
    margin-bottom: 2rem;
  } */
  @media (max-width: 320px) {
    .fifth-container {
        padding-top: 1rem;
    }
    .image-look {
      max-width: 84%;
      max-height: 82%;
    }}
  
    @media (max-width: 500px) {
        .fifth-container {
            grid-template-columns: repeat(2, 1fr);
            display: grid;
            padding-top: 1rem;
        }}
    
  @media (max-width: 800px) {
    .fifth-container {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        padding-top: 1rem;
    }
  
    .price-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1rem;
    }
    .name-pro {
      padding-right: 1px;
    }
    
    .price-pro {
    
      /* font-weight: 500; */
      padding-left: 1px;
    }
    
  }
  @media (max-width: 1000px) {
    .fifth-container {
        display: grid;
        padding-top: 1rem;
    }}