.second-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* overflow: hidden; */
  gap: 0px;
  /* max-height: 50%; */
}

.second-padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  font-size: 7rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: reckless;
  width: 90%;
  font-weight: 500;
}

.paragraph-content {
  font-size: 2rem;
  padding-bottom: 1.3rem;
  font-family: reckless;
}

.image-readme {
  border: 1px solid rgb(207, 203, 203);
  font-size: 2rem;
  color: #000;
  /* height: 2rem; */
  text-align: center;
  padding: 4px;
  border-radius: 8px;
  margin-top: 3rem;
  cursor: pointer;
  width: 40%;
  /* margin-left: 28%; */
}

.em3-input {
  font-size: 7rem;
}

.content {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-row-end: 10;
  grid-column-end: 10;
  text-align: center;
  transform: translateY(-55%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  /* min-width: 60%; */




}

.left-image {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 4;
  transform: translateY(-80%);
  margin-top: 20%;

}

/* #left {
  height: 90%;
  width: 95%;
} */
.right-bottom-image {
  grid-row-start: 9;
  grid-column-start: 8;
  grid-row-end: 11;
  grid-column-end: 11;
  transform: translate(20%, -75%);
  margin-top: 5%;
  /* margin-top: -15%; */
  /* 
  grid-row: 9 / 11;
  grid-column: 7 / 10; */
}

#rightdown {
  height: 95%;
  width: 90%;
}


.right-image {
  grid-row-start: 6;
  grid-column-start: 11;
  grid-row-end: 8;
  grid-column-end: 13;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translate(0%, -70%);

}

/* #rightmiddle {
  height: 100%;
  width: 100%;
} */
.top-right-image {
  grid-row-start: 3;
  grid-column-start: 10;
  grid-row-end: 5;
  grid-column-end: 11;
  transform: translatey(0%);
  /* grid-row: 4 / 5;
  grid-column: 9 / 11;
 ; transform: translateY(-100%) */
}

/* #toprightimage {
  height: 100%;
  width: 100%;
} */
.top-image {
  grid-row-start: 2;
  grid-column-start: 6;
  grid-row-end: 4;
  grid-column-end: 8;
  transform: translate(10%, -35%);
  /* grid-row: 2 / 4;
  grid-column: 6 / 8;
  transform: translate(-30%, -30%); */
}

/* #topimage {
  height: 100%;
  width: 100%;
} */
.left-top-image {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 4;
  /* margin-top: -5%; */
  transform: translateY(-100%);
}

@media (max-width: 1350px) {


  .header-content {
    font-size: 4rem;
    max-width: 75%;
  }

  .em3-input {
    font-size: 4rem;
  }

  .paragraph-content {
    font-size: 1rem;
  }

  .image-readme {
    width: 35%;
    font-size: 1.6rem;
  }

  /* .content{ transform: translateY(0%);} */
  #left {
    height: 90%;
    width: 95%;
  }

  #lefttop {
    height: 90%;
    width: 95%;
  }

  #topimage {
    height: 100%;
    width: 100%;
  }

  #rightdown {
    height: 85%;
    width: 80%;
  }

  #rightmiddle {
    height: 100%;
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .content {
    transform: translateY(-30%);
  }
  .right-bottom-image {
    transform: translate(50%, -10%);
  }
  #rightmiddle {
    transform: translate(0%, -0%);
  }
}

@media (max-width: 800px) {
  .second-container {
    max-height: 50%;
    width: 100%;
  }

  .header-content {
    font-size: 4rem;
  }

  .em3-input {
    font-size: 4rem;
  }

  .paragraph-content {
    font-size: 1.4rem;
  }

  .content {
    min-width: 8%;
    transform: translateY(-10%);
  }

  .image-readme {
    font-size: 7px;
    margin-top: 1.5rem;
  }

  .left-image {
    transform: translate(-20%, -100%);
  }

  #left {
    height: 50%;
    width: 60%;
  }

  .right-bottom-image {
    transform: translate(50%, -10%);
  }

  #rightdown {
    height: 55%;
    width: 65%;
  }

  #rightmiddle {
    height: 100%;
    width: 90%;
    transform: translate(0%, 30%);
  }

  .right-image {
    transform: translate(0%, -70%);
  }

  .top-image {
    transform: translate(-5%, -35%);
  }

  .left-top-image {
    transform: translate(-40%, -80%);
  }

  #lefttop {
    height: 100%;
    width: 100%;
  }

  .top-right-image {
    transform: translate(30%, 10%);
  }

  #toprightimage {
    height: 90%;
    width: 80%;
  }

  .top-image {
    transform: translate(-5%, -35%);
  }

  #topimage {
    height: 100%;
    width: 100%;
  }

  .em-input {
    font-size: 1.6rem;
  }

}

@media (max-width: 500px) {
  .content {
    width: 100%;
    transform: translateY(-10%);
  }

  .header-content {
    font-size: 2.8rem;
  }

  .em3-input {
    font-size: 2.8rem;
  }

  .paragraph-content {
    font-size: 0.6rem;
  }
  .image-readme {font-size: 4px;}
  .content {
    transform: translateY(0%);
  }
}

@media (max-width: 320px) {
  .content {
    width: 100%;

  }

  .header-content {
    font-size: 1.6rem;
  }

  .em3-input {
    font-size: 1.5rem;
  }

  .paragraph-content {
    font-size: 0.6rem;
  }
}