
.article-decor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid #384353; */
  }
  #decor-images{ display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
  }


  .decor-first {
    justify-content:center;
    align-items: center;
    width: 33%;
  }
  .decor-second {
    /* width: fit-content; */
    justify-content: center;
    align-items: center;
    width: 33%;
  }
  .decor-third {
    /* width: fit-content; */
    justify-content: center;
    align-items: center;
    width: 33%;
  }
  .decor-item {
    max-width: 90%;
  }
  .decor-head {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .decor-para {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  .decor-botton {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    cursor: pointer;
  }
  #decor-pictureone {
    width: 90%;
    height: 90%;
  }
  #decor-picturetwo {
    width: 90%;
    height: 90%;
  }
  #decor-picturethree {
    width: 90%;
    height: 90%;
  }
  
      @media (max-width: 800px) {
   .article-decor {
        width: 100%;
        margin-top: 1rem;
        align-content: center;
        padding-left: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
  height: 100%;
      }
      #decor-images{ display: flex;
        justify-content: center;
        align-items: center;
      flex-direction: column;}
      .decor-pictureone {
        min-width: 100%;
      }
  
      .decor-first {
        width: 100%;
        align-content: center;
      }
  
      .decor-second {
        width: 100%;
        align-content: center;
      }
  
      .decor-third {
        width: 100%;
        align-content: center;
      }
  
      #decor-pictureone {
        width: 90%;
        height: 90%;
      }
  
      #decor-picturetwo {
        width: 90%;
        height: 90%;
      }
  
      #decor-picturethree {
        width: 90%;
        height: 90%;
      }
  
      .decor-head {
        font-size: 3rem;
        padding-bottom: 2rem;
      }
  
      .decor-botton {
        font-size: 2rem;
        padding-bottom: 2rem;
        cursor: pointer;
      }
    }
  
  .outer {

  
    background-image: url(/assets/Images/sofadown.svg);
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 90%;
    height: 50vh;
    text-align: center;
    padding-top: 10%;
    /* margin: 3rem solid #f3f3f3; */
  }
  .outer-image {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
  }
  label {
    font-size: 4rem;
    color: #e6e3e3;
    width: 40%;
  }
  ::placeholder {
    font-size: 1.4rem;
    color: #cabcbc;
  
  }
  #email {
    min-width: 20%;
    /* height: 3rem; */
    background-color: transparent;
    font-weight: 100;
    border: 1px solid #6e6767;
    /* text-align: center; */
    border-radius: 2rem;
    padding-left: 1.5rem;
    margin-top: 8%;
    padding: 1.5rem;
  }
  #text-para {
    width: 70%;
    text-align: center;
    /* margin-top: 60%; */
    padding-left: 30%;
  }
  .common-input {
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
  }
  @media (max-width: 320px) {
  
  
    .outer {
    
      background-position: center;
  
    }
  
    #email {
      margin-top: 10%;
    
    }
  
  
      }

      @media (max-width: 500px) {
        
       
      
        .outer {
          background-position: center;
      
        }
      
        #email {
          margin-top: 10%;
   
        }
      
      
          }
  @media (max-width: 800px) {
  
  
    .outer {
   
      background-position: center;
  
    }
  
    #email {
      margin-top: 10%;
     
    }
  
  
      }
      @media (max-width: 1300px) {
       
      
        .outer {
          background-position: center;
      
        }
      
        #email {
          margin-top: 10%;
       
        }
      
      
          }
  
  .arusa {
    max-width: 1500px;
    background-color: #384353;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #f3f3f3;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* border-bottom: 2px solid #dacdcd;  */
  }
  .arusa-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #f3f3f3;
    padding-bottom: 1rem;
    width: 100%;
    height: 20%;
    /* border-bottom: 1px solid #dacdcd; */
    /* padding-top: 2rem; */
    /* border-bottom: 1px solid #dacdcd; */
  }
  .input-award {
    /* margin-top: 2rem; */
    font-size: 1.5rem;
    /* padding: 2rem 0; */
    min-height: 40%;
    padding-left: 3rem;
    border-left: 1px solid #938d8d;
    padding-top: 1rem;
    padding: 1rem ;
    border-bottom: 1px solid #dacdcd;
    width: 25%;
  
    /* border-bottom:1px solid #938d8d ; */
  }
  
  a {
    font-weight: 400;
    text-decoration: none;
    color: #f3f3f3;
    cursor: pointer;
    flex-direction: column;
    padding: 5px 0;
    font-size: 1rem;
    cursor: pointer;
  }
  .input-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .name-input {
    font-size: 300px;
    margin-top: -3%;
    margin-bottom: 4%;
    align-self: stretch;
    width: 100%;
    text-align: center;
  }
  .footer-arusa {
    font-size: 1.6rem;
    border-top: 1px solid #dacdcd;
    border-bottom: 1px solid #dacdcd;
    padding: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 320px) {
    .input-award {
    flex-wrap: wrap;
    width: 50%;
    }
  
    }
  
  @media (max-width: 800px) {
    .input-award {
    flex-wrap: wrap;
    width: 50%;
    }
  
    .name-input {
      font-size: 150px;
      margin-top: -3%;
      margin-bottom: 6%;
      align-self: stretch;
  
      width: 100%;
    }
  
    @media (min-width: 1000px) {
      .input-award {
        flex-wrap: wrap;
      width: 33%;
      }
    
    }
  }