* {
  margin: 0;
  font-size: 62.5%;
  padding: 0;
  font-family: recklessneue;
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  /* max-width: 1500px; */
  viewport-fit: initial;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: recklessneue;
  src: url(./assets/fonts/RecklessNeue-Regular.ttf);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1500px;

}



.navigation-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  flex-wrap: wrap;
  position: absolute;
  color: #f3f3f3;
  top: 0;
  width: 100%;
  max-width: 320px;
  /* margin: 1px; */
}


.menu-input {
  font-size: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.menu-lenght {
  width:10px;
  height: 2px;
  background-color: #f3f3f3;
  margin: 3px 0;
  text-align: center;
  cursor: pointer;
}

.icon-x {
  width: 10px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  text-align: center;
  color: #f3f3f3;
  font-size: 7px;
  font-weight: 100;
  cursor: pointer;
  background-color: #000;
}

.space {
  padding: 0 1rem;
  font-size: 5px;
}

.menu-name {
  font-size: 5px;
}

.menu-bag {
  font-size: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

@media (max-width: 500px) {
  .navigation-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    top: 0;
    background-color: transparent;
    position: absolute;
    /* padding: 1rem;
    margin: 1rem; */
    width: 100%;
  }

  .space {
    font-size: 8px;
  }

  .menu-bag {
    font-size: 8px;
  }



  .menu-name {
    font-size: 8px;
  }

}

@media (max-width: 800px) {
  .navigation-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    top: 0;
    background-color: transparent;
    position: absolute;
    /* padding: 1rem;
    margin: 1rem; */
    height: 2rem;
    width: 100%;
  }

  .space {
    font-size: 1.1rem;
  }

  .menu-bag {
    font-size: 1.1rem;
  }



  .menu-name {
    font-size: 1.1rem;
  }

}

@media (max-width: 1000px) {
  .navigation-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    top: 0;
    background-color: transparent;
    position: absolute;
   
    height: 2rem;
    width: 100%;
  }

  .space {
    font-size: 1.6rem;
  }

  .menu-bag {
    font-size: 1.5rem;
  }

  .menu-lenght {
    width: 8px;
  }

  .menu-name {
    font-size: 1.9rem;
  }

}

@media (max-width: 1200px) {
  .navigation-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    top: 0;
    background-color: transparent;
    position: absolute;
    
    height: 2rem;
    width: 100%;
  }

  .space {
    font-size: 1.8rem;
  }

  .menu-bag {
    font-size: 1.8rem;
  }

  .menu-lenght {
    width: 10px;
    height: 2px;
    margin: 5px 0;
  }

  .menu-name {
    font-size: 2.1rem;
  }

}

/* @media (max-width: 1500px) {
  .navigation-container {
    max-width: 1500px;
    top: 0;
    background-color: transparent;
    position: absolute;
    height: 2rem;
    width: 100%;
  }

  .space {
    font-size: 2.4rem;
  }

  .menu-bag {
    font-size: 1.9rem;
  }

  .menu-lenght {
    width: 8px;
    height: 2px;
    margin: 5px 0;
  }

  .menu-name {
    font-size: 2.4rem;
  }

} */


.living-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("/assets/Images/livingroom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
height: 100vh;
  width: 100%;
}

.living-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: #f3f3f3;
  /* width: 55%; */

}

.living-paragraph {
  font-size: 1rem;
  margin-top: calc(100%-30%);
  text-align: center;
  /* padding: 2rem; */
  max-width: 100%;
}

.living-button {
  border: 1x solid #f3f3f3;
  background-color: #f3f3f3;
  font-size: 0.5rem;
  color: #000;
  min-width: 25%;
  text-align: center;
  padding: 1px;
  font-size: 5px;
  border-radius: 1rem;
  /* margin-top: 4rem; */
  cursor: pointer;
}

em {
  font-size: 1rem;
}
@media (max-width: 320px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
    font-size: 0.5rem;
    margin-top: 50%;
    margin-bottom: 10%;
    width: 60%;
  }

  .living-button {
    /* margin-top: 50%; */
    min-width: 13%;

    font-size: 0.5rem;
  }

  em {
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
    font-size: 1.4rem;
    width: 60%;
    margin-top: 50%;
    margin-bottom: 10%;
  }

  .living-button {
    /* margin-top: 50%; */
    min-width: 13%;

    font-size: 1rem;
  }

  em {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
    font-size: 1.4rem;
    margin-top: 50%;
    margin-bottom: 25%;
    width: 60%;
  }

  .living-button {
    min-width: 13%;

    font-size: 1rem;
  }

  em {
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
    width: 60%;
    font-size: 3rem;
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .living-button {
    min-width: 13%;

    font-size: 1rem;
  }

  em {
    font-size: 4rem;
  }
}

@media (max-width: 1300px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
   width: 60%;
    font-size: 3rem;
    margin-top: 20%;
    margin-bottom: 25%;
  }

  .living-button {
    min-width: 13%;

    font-size: 1rem;
  }

  em {
    font-size: 3rem;
  }
}

/* @media (max-width: 1500px) {
  .living-image {
    background-size: cover;
    background-position: center;
  }

  .living-content {

    flex-direction: column;
  }

  .living-paragraph {
    font-size: 7rem;
    margin-top: 20%;
    margin-bottom: 30%;
    width: 60%;
  }

  .living-button {
    min-width: 13%;

    font-size: 1.6rem;
  }

  em {
    font-size: 7rem;
  }
} */

.second-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 0px;
  max-height: 70%;

}



.header-content {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  font-family: reckless;
}

.paragraph-content {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-family: reckless;
}

.image-readme {
  border: 1x solid #f3f3f3;
  background-color: #f3f3f3;
  font-size: 8px;
  color: #000;
  height: 1.5rem;
  text-align: center;
  padding: 5px;
  border-radius: 1rem;
  /* margin-top: 2rem; */
  cursor: pointer;
  /* max-width: 50%; */
  /* margin-left: 28%; */
}

.em-input {
  font-size: 1.5rem;
}

.content {
  grid-row-start: 5;
  grid-column-start: 5;

  grid-row-end: 9;
  grid-column-end: 10;
  text-align: center;
  /* transform: translateY(-40%); */
}

/* min-width: 60%; */


.left-image {
  grid-row-start: 7;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 4;
  transform: translateY(-100%);
  margin-top: 40%;

}

#left {
  height: 40%;
  width: 55%;
}

.right-bottom-image {
  grid-row-start: 9;
  grid-column-start: 8;

  grid-row-end: 11;
  grid-column-end: 11;
  transform: translate(20%, 10%);
  margin-top: 5%;
  /* margin-top: -15%; */

}

#rightdown {
  height: 45%;
  width: 55%;
}

.rightdown {
  width: 40%;
  height: 40%;
}

.right-image {
  grid-row-start: 6;
  grid-column-start: 11;

  grid-row-end: 8;
  grid-column-end: 13;

}

#rightmiddle {
  height: 100%;
  width: 100%;
}

.top-right-image {
  grid-row-start: 3;
  grid-column-start: 10;

  grid-row-end: 5;
  grid-column-end: 11;
  transform: translatey(7%);



}

#toprightimage {
  height: 85%;
  width: 75%;
}

.top-image {
  grid-row-start: 2;
  grid-column-start: 6;

  grid-row-end: 4;
  grid-column-end: 8;
  transform: translate(-5%, -35%);


}

#topimage {
  height: 75%;
  width: 60%;
}

.left-top-image {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 4;
  /* margin-top: -5%; */
  transform: translateY(-80%);
}

#lefttop {
  height: 65%;
  width: 50%;
}
@media (max-width: 500px) {
  .second-container {
    max-height: 50%;
    width: 100%;
  }

  .header-content {
    font-size: 1rem;
  }

  .em-input {
    font-size: .5rem;
  }

  .paragraph-content {
    font-size: 1rem;
  }

  .content {
    min-width: 60%;
transform: translate(0,20%);
  }

  .image-readme {
    font-size: 7px;
    margin-top: 1.5rem;
  }

  .left-image {
    transform: translate(-20%, -100%);
  }

  #left {
    height: 100%;
    width: 100%;
  }

  .right-bottom-image {
    transform: translate(50%, 0%);
  }

  #rightdown {
    height: 55%;
    width: 65%;
  }

  #rightmiddle {
    height: 100%;
    width: 100%;
    transform: translate(0%, 80%);
  }

  .right-image {
    transform: translate(0%, -100%);
  }

  .top-image {
    transform: translate(-5%, -35%);
  }

  .left-top-image {
    transform: translate(-40%, -80%);
  }

  #lefttop {
    height: 100%;
    width: 100%;
  }

  .top-right-image {
    transform: translate(30%, 10%);
  }

  toprightimage {
    height: 60%;
    width: 50%;
  }

  .top-image {
    transform: translate(-5%, -35%);
  }

  #topimage {
    height: 100%;
    width: 100%;
  }

  .em-input {
    font-size: 1.6rem;
  }
 
}