@media (max-width: 500px) {
    .main-container {
      max-width: 500px;
  
    }
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
  
    }
  
    .navigation-container {
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      top: 0;
      font-size: 1.6rem;
      background-color: transparent;
      position: absolute;
      /* height: 3rem; */
      padding: 1rem;
      margin: 1rem;
      height: 2rem;
    }
  
    .space {
      /* padding: 0 1rem; */
      font-size: 1.6rem;
    }
  
    /* .icon-menu {
      padding-left: 2rem;
    } */
  
    .icon-x {
      width: 5px;
      font-weight: 100;
      border-radius: 50%;
      cursor: pointer;
    }
  
    /* .menu-input {
      padding-left: 2rem;
    } */
  
    .menu-lenght {
      width: 10px;
      padding: 1px;
      /* margin: 6px 0; */
      cursor: pointer;
    }
  
    .menu-name {
      font-size: 3rem;
    }
  
    .menu-bag {
      font-size: 1rem;
      /* padding-right: 4rem; */
    }
  
  
    .living-image {
      background-size: cover;
      background-position: center;
    }
  
    .living-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      flex-direction: column;
    }
  
    .living-paragraph {
      font-size: 3rem;
      width: 100%;
      padding-bottom: 2rem;
    }
  
    .living-button {
      margin-top: 50%;
      min-width: 13%;
      text-align: center;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    em {
      font-size: 3rem;
    }
  
    .second-container {
      max-height: 50%;
      width: 100%;
    }
  
    .header-content {
      font-size: 1rem;
    }
  
    .em-input {
      font-size: 1rem;
    }
  
    .paragraph-content {
      font-size: 1rem;
    }
  
    .content {
      min-width: 60%;
  transform: translate(0,20%);
    }
  
    .image-readme {
      font-size: 7px;
      margin-top: 1.5rem;
    }
  
    .left-image {
      transform: translate(-20%, -100%);
    }
  
    #left {
      height: 100%;
      width: 100%;
    }
  
    .right-bottom-image {
      transform: translate(50%, -90%);
    }
  
    #rightdown {
      height: 55%;
      width: 65%;
    }
  
    #rightmiddle {
      height: 100%;
      width: 100%;
      transform: translate(0%, -100%);
    }
  
    .right-image {
      transform: translate(0%, -100%);
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    .left-top-image {
      transform: translate(-40%, -80%);
    }
  
    #lefttop {
      height: 100%;
      width: 100%;
    }
  
    .top-right-image {
      transform: translate(30%, 10%);
    }
  
    toprightimage {
      height: 60%;
      width: 50%;
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    #topimage {
      height: 100%;
      width: 100%;
    }
  
    .em-input {
      font-size: 1.6rem;
    }
  
    .container-description {
      flex-direction: column-reverse;
      background-color: #384353;
      color: #f3f3f3;
      width: 100%;
      display: flex;
      height: 50vh;
    }
  
    .container-right {
      align-content: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      max-height: 20%;
      margin-top: 5rem;
    }
  
    .container-left {
      max-height: 80%;
      top: 50%;
      justify-content: center;
      align-items: center;
      min-width: 80%;
      text-align: center;
      align-content: center;
      padding-left: 2rem;
    }
  
    .header-contain {
      font-size: 1rem;
  
    }
  
    .paragraph-container {
      font-size: 10px;
      padding: 2rem 0;
      text-align: center;
  
    }
  
    .view-container {
      padding-top: 5px;
      font-size: 1rem;
    }
  
    .images-container {
      background-position: center;
  
    }
  
    .image-right {
      display: none;
    }
  
    .image-left-small {
      display: none;
    }
  
    #subimage {
      display: none;
    }
  
    .product-sname {
      display: none;
    }
  
    .product-sprice {
      display: none;
    }
  
  
    .product-label {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .fourth-container {
  
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      /* align-items: center; */
      max-height: 100%;
      max-width: 100%;
  
    }
  
    .item-description {
      min-width: 100%;
      border-bottom: 1px solid rgb(206, 199, 199);
  
      font-size: 6px;
    }
  
    .before-container {
      display: none;
  
    }
  
    .middle-container {
      min-width: 100%;
      background-color: #384353;
      text-align: center;
      padding: 5px 20px;
  
    }
  
    .middle-header {
      font-size: 2rem;
  
    }
  
    .middle-paragraph {
      font-size: 1.4rem;
      margin: 0 2rem;
      padding: 2rem;
    }
  
    .after-container {
      min-width: 100%;
      border-left: none;
      background-color: #384353;
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .material-col {
      flex-direction: column-reverse;
      font-size: 10px;
      width: 100%;
    }
  
    .item-header {
      display: none;
    }
  
    #image-lookup {
      width: 100%;
      max-height: 100%;
    }
  
    .lookbook-image {
      align-content: center;
      padding-bottom: 20%;
      /* padding: 2rem; */
    }
  
    .footer-container {
      font-size: 2rem;
    }
  
    .content-container {
      flex-direction: column;
    }
  
    .heading-input {
      font-size: 1.4rem;
      text-align: center;
    }
  
    .subtitle-content {
      font-size: 1.3rem;
      text-align: center;
    }
  
    .subtitle-paragraph {
      font-size: 10px;
      text-align: center;
      width: 60%;
    }
  
    .container-chairimage {
      display: flex;
      flex-direction: column;
    }
  
    .text-imagepic {
      display: none;
    }
  
    .input-colum {
      flex-direction: column;
      height: 35vh;
    }
  
    .left-picture {
      justify-content: center;
      align-items: center;
      /* gap: 10px; */
      max-width: 65%;
      height: 100vh;
    }
  
    #imageeight {
      width: 500px;
  
    }
  
    .subdivisionright {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }
  
    .image-division {
      min-width: 100%;
      flex-grow: 1;
  
    }
  
    .image-subdivision {
      flex-grow: 1;
      min-width: 100%;
    }
  
  
    #imagefour {
      width: 100%;
      height: 100%;
    }
  
    #imagethree {
      width: 100%;
      height: 100%;
  
  
    }
  
    .bottom-picture {
      background-position: center;
      width: 100%;
    }
  
  
    .ab-picture {
      display: none;
    }
  
  
  
    .fifth-container {
      grid-template-rows: repeat(4, 1fr);
      height: 50vh;
  
  
      /* flex-direction: column; */
    }
  
    /* .image-look {
      width: 100%;
      height: 100%;
    } */
  
    .price-info {
      font-size: 5px;
      display: flex;
      flex-direction: column;
    }
  
  
    .enjoy-input {
      font-size: 2rem;
    }
  
    .name-pro {
      font-size: 5px;
    }
  
    .price-pro {
      font-size: 5px;
    }
  
  
    .sofa-content {
      display: none;
      /* background-image: ; */
      max-width: 100%;
    }
  
    .article-decor {
      width: 100%;
      margin-top: 1rem;
      align-content: center;
      padding-left: 1rem;
    }
  
    .decor-pictureone {
      min-width: fit-content;
    }
  
    .decor-first {
      width: 100%;
      align-content: center;
    }
  
    .decor-second {
      width: 100%;
      align-content: center;
    }
  
    .decor-third {
      width: 100%;
      align-content: center;
    }
  
    #decor-pictureone {
      width: 90%;
      height: 90%;
    }
  
    #decor-picturetwo {
      width: 90%;
      height: 90%;
    }
  
    #decor-picturethree {
      width: 90%;
      height: 90%;
    }
  
    .decor-head {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
  
    .decor-botton {
      font-size: 1.5rem;
      padding-bottom: 2rem;
      cursor: pointer;
    }
  
    .article-decor {
      flex-direction: column;
      min-width: 100%;
    }
  
    .input-award {
      grid-template-columns: repeat(2, 1fr);
  
    }
  
    .name-input {
      font-size: 150px;
      margin-top: -3%;
      margin-bottom: 6%;
      align-self: stretch;
  
      width: 100%;
    }
  
    .input-award {
      font-size: 1rem;
    }
  
    label {
      font-size: 2rem;
      min-width: 100%;
    }
  
    .outer {
      padding-top: 60%;
      /* background-position: center; */
  
    }
  
    #email {
      margin-top: 15%;
      min-width: 20%;
    }
  
  
      }
    
  
  
  
  
  
  
  
  
  
    @media (max-width: 350px) {
      .main-container {
        max-width: 350px;
  
      }
  
      .container {
        width: 100%;
        display: flex;
        justify-content: center;
  
      }
  
      .navigation-container {
        display: flex;
        justify-content: space-between;
        max-width: 350px;
        top: 0;
        font-size: 1rem;
        background-color: transparent;
        position: absolute;
        /* height: 3rem; */
        padding: 1rem;
        margin: 1rem;
        height: 2rem;
        align-items: center;
      }
  
      .space {
        font-size: 1rem;
      }
  
      .living-image {
        background-size: cover;
        background-position: center;
      }
  
      .living-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        flex-direction: column;
        margin-top: calc(100%-15%);
      }
  
      .living-paragraph {
        font-size: 3rem;
        width: 50%;
        padding-bottom: 2rem;
  
      }
  
      .living-button {
        margin-top: 50%;
        min-width: 13%;
        text-align: center;
        justify-content: flex-end;
        align-items: flex-end;
      }
  
      em {
        font-size: 3rem;
      }
  
      .second-container {
        max-height: 50%;
        width: 100%;
        background-position: center;
      }
  
      .header-content {
        font-size: 2rem;
      }
  
      .paragraph-content {
        font-size: .5rem;
      }
  
      .content {
        min-width: 20%;
  
      }
  
      .image-readme {
        font-size: 7px;
        margin-top: 1.5rem;
      }
  
      .left-image {
        display: none;
        /* transform: translate(-20%, -100%); */
      }
  
      /*   
      #left {
        height: 100%;
        width: 100%;
      } */
  
      .right-bottom-image {
        transform: translate(50%, -90%);
      }
  
      #rightdown {
        height: 55%;
        width: 65%;
      }
  
      #rightmiddle {
        height: 100%;
        width: 100%;
      }
  
      .right-image {
        transform: translate(0%, -10%);
      }
  
      .top-image {
        transform: translate(-5%, -35%);
      }
  
      .left-top-image {
        transform: translate(0%, -80%);
      }
  
      #lefttop {
        height: 100%;
        width: 100%;
      }
  
      .top-right-image {
        transform: translate(30%, 10%);
      }
  
      toprightimage {
        height: 60%;
        width: 50%;
      }
  
      .top-image {
        transform: translate(-5%, -35%);
      }
  
      #topimage {
        height: 100%;
        width: 100%;
      }
  
      .em-input {
        font-size: 3rem;
      }
  
      .product-label {
        grid-template-columns: repeat(2, 1fr);
      }
  
  
  
  
  
  
    }
  
  
    @media (max-width: 800px) {
      .main-container {
        max-width: 800px;
  
      }
  
      .container {
        width: 100%;
        display: flex;
        justify-content: center;
  
      }
  
      .navigation-container {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        top: 0;
        font-size: 1.6rem;
        background-color: transparent;
        position: absolute;
        /* height: 3rem; */
        padding: 1rem;
        margin: 1rem;
        height: 2rem;
        align-items: center;
      }
  
      .space {
        font-size: 1.6rem;
      }
  
      .living-image {
        background-size: cover;
        background-position: center;
      }
  
      .living-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        flex-direction: column;
        margin-top: calc(100%-15%);
      }
  
      .living-paragraph {
        font-size: 3rem;
        width: 50%;
        padding-bottom: 2rem;
  
      }
  
      .living-button {
        margin-top: 50%;
        min-width: 13%;
        text-align: center;
        justify-content: flex-end;
        align-items: flex-end;
      }
  
      em {
        font-size: 3rem;
      }
  
      .second-container {
        max-height: 50%;
        width: 100%;
      }
  
      .header-content {
        font-size: 5rem;
      }
  
      .paragraph-content {
        font-size: 1rem;
      }
  
      .content {
        min-width: 30%;
  
      }
  
      .image-readme {
        font-size: 7px;
        margin-top: 1.5rem;
      }
  
      .left-image {
        transform: translate(-20%, -100%);
      }
  
      #left {
        height: 100%;
        width: 100%;
      }
  
      .right-bottom-image {
        transform: translate(50%, -90%);
      }
  
      #rightdown {
        height: 55%;
        width: 65%;
      }
  
      #rightmiddle {
        height: 100%;
        width: 100%;
      }
  
      .right-image {
        transform: translate(0%, -10%);
      }
  
      .top-image {
        transform: translate(-5%, -35%);
      }
  
      .left-top-image {
        transform: translate(-40%, -80%);
      }
  
      #lefttop {
        height: 100%;
        width: 100%;
      }
  
      .top-right-image {
        transform: translate(30%, 10%);
      }
  
      toprightimage {
        height: 60%;
        width: 50%;
      }
  
      .top-image {
        transform: translate(-5%, -35%);
      }
  
      #topimage {
        height: 100%;
        width: 100%;
      }
  
      .em-input {
        font-size: 3rem;
      }
  
      .product-label {
        grid-template-columns: repeat(2, 1fr);
      }
  
    }
  
  }
  
  @media (max-width: 1000px) {
    .main-container {
      max-width: 1000px;
  
    }
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
  
    }
  
    .navigation-container {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      top: 0;
      font-size: 1.6rem;
      background-color: transparent;
      position: absolute;
      /* height: 3rem; */
      padding: 1rem;
      margin: 1rem;
      height: 2rem;
      align-items: center;
    }
  
    .space {
      font-size: 1.6rem;
    }
  
    .living-image {
      background-size: cover;
      background-position: center;
    }
  
    .living-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      flex-direction: column;
      margin-top: calc(100%-15%);
    }
  
    .living-paragraph {
      font-size: 3rem;
      width: 50%;
      padding-bottom: 2rem;
  
    }
  
    .living-button {
      margin-top: 50%;
      min-width: 13%;
      text-align: center;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    em {
      font-size: 3rem;
    }
  
    .second-container {
      max-height: 50%;
      width: 100%;
    }
  
    .header-content {
      font-size: 5rem;
    }
  
    .paragraph-content {
      font-size: 1rem;
    }
  
    .content {
      min-width: 30%;
  
    }
  
    .image-readme {
      font-size: 7px;
      margin-top: 1.5rem;
    }
  
    .left-image {
      transform: translate(-20%, -100%);
    }
  
    #left {
      height: 100%;
      width: 100%;
    }
  
    .right-bottom-image {
      transform: translate(50%, -90%);
    }
  
    #rightdown {
      height: 55%;
      width: 65%;
    }
  
    #rightmiddle {
      height: 100%;
      width: 100%;
    }
  
    .right-image {
      transform: translate(0%, -10%);
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    .left-top-image {
      transform: translate(-40%, -80%);
    }
  
    #lefttop {
      height: 100%;
      width: 100%;
    }
  
    .top-right-image {
      transform: translate(30%, 10%);
    }
  
    toprightimage {
      height: 60%;
      width: 50%;
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    #topimage {
      height: 100%;
      width: 100%;
    }
  
    .em-input {
      font-size: 3rem;
    }
  
    .product-label {
      grid-template-columns: repeat(2, 1fr);
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }
  
  @media (max-width: 1300px) {
    .main-container {
      max-width: 1300px;
  
    }
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
  
    }
  
    .navigation-container {
      display: flex;
      justify-content: space-between;
      max-width: 1300px;
      top: 0;
      font-size: 1.6rem;
      background-color: transparent;
      position: absolute;
      /* height: 3rem; */
      padding: 1rem;
      margin: 1rem;
      height: 2rem;
      align-items: center;
    }
  
    .space {
      font-size: 1.6rem;
    }
  
    .living-image {
      background-size: cover;
      background-position: center;
    }
  
    .living-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      flex-direction: column;
      margin-top: calc(100%-15%);
    }
  
    .living-paragraph {
      font-size: 3rem;
      width: 50%;
      padding-bottom: 2rem;
  
    }
  
    .living-button {
      margin-top: 50%;
      min-width: 13%;
      text-align: center;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    em {
      font-size: 3rem;
    }
  
    .second-container {
      max-height: 50%;
      width: 100%;
    }
  
    .header-content {
      font-size: 5rem;
    }
  
    .paragraph-content {
      font-size: 1rem;
    }
  
    .content {
      min-width: 30%;
  
    }
  
    .image-readme {
      font-size: 7px;
      margin-top: 1.5rem;
    }
  
    .left-image {
      transform: translate(-20%, -100%);
    }
  
    #left {
      height: 100%;
      width: 100%;
    }
  
    .right-bottom-image {
      transform: translate(50%, -90%);
    }
  
    #rightdown {
      height: 55%;
      width: 65%;
    }
  
    #rightmiddle {
      height: 100%;
      width: 100%;
    }
  
    .right-image {
      transform: translate(0%, -10%);
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    .left-top-image {
      transform: translate(-40%, -80%);
    }
  
    #lefttop {
      height: 100%;
      width: 100%;
    }
  
    .top-right-image {
      transform: translate(30%, 10%);
    }
  
    toprightimage {
      height: 60%;
      width: 50%;
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    #topimage {
      height: 100%;
      width: 100%;
    }
  
    .em-input {
      font-size: 3rem;
    }
  
    .product-label {
      grid-template-columns: repeat(2, 1fr);
    }
  
  
  
  
  
  
  }
  
  
  @media (max-width: 800px) {
    .main-container {
      max-width: 800px;
  
    }
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
  
    }
  
    .navigation-container {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      top: 0;
      font-size: 1.6rem;
      background-color: transparent;
      position: absolute;
      /* height: 3rem; */
      padding: 1rem;
      margin: 1rem;
      height: 2rem;
      align-items: center;
    }
  
    .space {
      font-size: 1.6rem;
    }
  
    .living-image {
      background-size: cover;
      background-position: center;
    }
  
    .living-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      flex-direction: column;
      margin-top: calc(100%-15%);
    }
  
    .living-paragraph {
      font-size: 3rem;
      width: 50%;
      padding-bottom: 2rem;
  
    }
  
    .living-button {
      margin-top: 50%;
      min-width: 13%;
      text-align: center;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    em {
      font-size: 3rem;
    }
  
    .second-container {
      max-height: 50%;
      width: 100%;
    }
  
    .header-content {
      font-size: 5rem;
    }
  
    .paragraph-content {
      font-size: 1rem;
    }
  
    .content {
      min-width: 30%;
  
    }
  
    .image-readme {
      font-size: 7px;
      margin-top: 1.5rem;
    }
  
    .left-image {
      transform: translate(-20%, -100%);
    }
  
    #left {
      height: 100%;
      width: 100%;
    }
  
    .right-bottom-image {
      transform: translate(50%, -90%);
    }
  
    #rightdown {
      height: 55%;
      width: 65%;
    }
  
    #rightmiddle {
      height: 100%;
      width: 100%;
    }
  
    .right-image {
      transform: translate(0%, -10%);
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    .left-top-image {
      transform: translate(-40%, -80%);
    }
  
    #lefttop {
      height: 100%;
      width: 100%;
    }
  
    .top-right-image {
      transform: translate(30%, 10%);
    }
  
    toprightimage {
      height: 60%;
      width: 50%;
    }
  
    .top-image {
      transform: translate(-5%, -35%);
    }
  
    #topimage {
      height: 100%;
      width: 100%;
    }
  
    .em-input {
      font-size: 3rem;
    }
  
    .product-label {
      grid-template-columns: repeat(2, 1fr);
    }
  
  }